/* Global Styles */
window {
  background: #181c4e;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  line-height: 0.85;
}

/* Typography */
.h1 {
  font-size: 96px;
  font-weight: bold;
}

.h2 {
  font-size: 48px;
  font-weight: bold;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
}

/* Color Classes */
.x {
  color: #9efae4;
}

.o {
  color: #fac19e;
}

.easy {
  color: #99ff99;
}

.medium {
  color: #ffff99;
}

.hard {
  color: #ff9999;
}

/* Animations */
@keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #3f4aad;
  }
  50% {
    box-shadow: 0 0 20px #3f4aad;
  }
  100% {
    box-shadow: 0 0 5px #3f4aad;
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.logo {
  animation: 1s linear infinite pulsate;
}

.current-player {
  animation: 2s ease-in-out infinite glowing;
}

.winning-cell {
  animation: 1s ease-in-out infinite rainbow;
}

/* Buttons */
.button-normal,
.button-menu,
dropdown > button {
  background: #2f399d;
  border-radius: 20px;
  padding: 20px;
  transition: all 200ms;
}

.button-normal:hover,
.button-menu:hover,
dropdown button:hover {
  background: #3f4aad;
}

.button-round {
  border-radius: 50%;
}

.button-menu {
  font-size: 48px;
  font-weight: bold;
}

.button-menu:hover {
  transform: translateY(-2px);
}

.button-player {
  font-size: 128px;
  font-weight: bold;
}

dropdown > button {
  padding: 10px 20px;
}

/* Game Board */
.sboard {
  background: #12153b;
  border-radius: 20px;
  padding: 10px 20px;
}

.sboard-player {
  border-radius: 15px;
  padding: 5px;
}

.cell {
  border: none;
  background: #181c4e;
}

.cell-center {
  border: #b1b5e7 4px solid;
}

.cell-vertical {
  border-left: #b1b5e7 4px solid;
  border-right: #b1b5e7 4px solid;
}

.cell-horizontal {
  border-top: #b1b5e7 4px solid;
  border-bottom: #b1b5e7 4px solid;
}

/* Dropdown Style */
popover.menu > contents,
listview {
  background: #2f399d;
}

popover.menu > contents {
  border-radius: 20px;
}

listview row {
  transition: all 200ms;
}

listview row:hover,
listview row:selected {
  background: #3f4aad;
}
